<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.raisetech.lecture10.mapper.MedicalRecordMapper">

    <select id="findAll" parameterType="java.util.List"
            resultType="com.raisetech.lecture10.entity.MedicalRecord">
        SELECT * FROM medicalRecords
    </select>

    <select id="findByDisease" parameterType="java.util.List"
            resultType="com.raisetech.lecture10.response.DiseaseResponse">
        SELECT * FROM medicalRecords WHERE disease=#{disease}
    </select>

    <insert id="postMedicalRecord">
        INSERT INTO medicalRecords(id,name,disease,medical_condition)
        VALUES(#{id},#{name},#{disease},#{medical_condition})
    </insert>


    <update id="patchMedicalRecord">
        UPDATE medicalRecords SET medical_condition=#{medical_condition} WHERE id=#{id}
    </update>

    <delete id="deleteMedicalRecord">
        DELETE FROM medicalRecords WHERE id=#{id}
    </delete>

</mapper>
